*{
  padding: 0;
  margin: 0;
}

div{
  position: inherit;
}

a{
  color: #f1f1f1;
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  font-style: none;
  padding-left: 20px;
  z-index: 10;
}

body{
  background-color: #1f1f1f;
}

h2{
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  color: #f1f1f1;
  position: relative;
  padding-left: 20px;
  font-size: clamp(2rem, -0.875rem + 8.333vw, 10rem);
  padding-left: clamp(0, 10vw, 10rem);
}

img{
  display:block;
  z-index: 1;
}

.imgProg{
  padding-left: 20px;
}

.bloco{
  padding: 20px;
}

.eu{
  border-top: 15px;
  border-bottom: 20px;
  z-index: -1;  
  position: absolute;
}

.link{
  color: #1f1f1f;
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  font-style: none;
  padding-bottom: 100px;
  z-index: -1;
}

.sobreTitulo{
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  color: #1f1f1f;
  font-size: 26px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  bottom: 340px;
  left: 45px;
}

.sobreDesc{
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  bottom: 80px;
  left: 30px;
}

.sobre{
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  color: #1f1f1f;
  font-size: 21px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: start;
  bottom: 50px;
  position: absolute;
}

.cursos{
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  color: #1f1f1f;
  font-size: 21px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: start;
}

.exp{
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  color: #1f1f1f;
  height: 400px;
  font-size: 21px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: start; 
  overflow: auto;
}

.content{
  z-index: -1;
} 

.contato{
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  color: #1f1f1f;
  font-size: 21px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: start;
}

.bem-vindo{
  font-family: 'Inconsolata', 'Consolas', 'monospace';
  color: #f1f1f1;
  position: relative;
  font-size: clamp(1rem, -0.5rem + 5.333vw, 5rem);
  z-index: -1;
  padding-left: 0.3em;
}
