#view-buttonSobre {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: 'Inconsolata', 'Consolas', 'monospace';
    font-size: 12px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
  }
  
  #view-buttonSobre:hover{
    color: #1f1f1f;
    background-color: #d7b94c;
  }
  
  #view-buttonCurso {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: 'Inconsolata', 'Consolas', 'monospace';
    font-size: 12px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
  }
  
  #view-buttonCurso:hover{
    color: #1f1f1f;
    background-color: #d7b94c; 
  }
  
  #view-buttonExp {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: 'Inconsolata', 'Consolas', 'monospace';
    font-size: 12px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate3d(-50%, -50%, 0);
    transition: 0.2s ease-in-out;
  }
  
  #view-buttonExp:hover{
    color: #1f1f1f;
    background-color: #d7b94c;
  }
  
  #view-buttonCont {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: 'Inconsolata', 'Consolas', 'monospace';
    font-size: 12px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate3d(-50%, -50%, 0);
    transition: 0.2s ease-in-out;
  }
  
  #view-buttonCont:hover{
    color: #1f1f1f;
    background-color: #d7b94c;
  }

  #view-buttonCenter {
    left: 97%;
    top: 5%;
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: 'Inconsolata', 'Consolas', 'monospace';
    font-size: 12px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate3d(-50%, -50%, 0);
    transition: 0.2s ease-in-out;
  }

  #view-buttonCenter:hover{
    color: #1f1f1f;
    background-color: #d7b94c;
  }